/* Palette!!!! http://www.colourlovers.com/palette/944213/forever_lost */

$darkpurple:rgba(63, 33, 84,1);
$grey:rgba(131,134,137,1);
$seafoam:rgba(168,202,186,1);
$green:rgba(202,215,178,1);
$yellow:rgba(235,227,170,1);


body{
	background-color: $green;
	color:$darkpurple;
}