%h1 Edit your organization
.row
  .col-md-6
    =render "form"
  .col-md-6
    %h3 Users that can manage this organization
    -@org.users.each do |u|
      =u.first_name + " " + u.last_name + ", " + u.email
    %form{class:"form form-inline"}
      .form-group
        %input{type:"text", placeholder:"email", class:"form-control" }
      .form-group
        %input{type:"submit", class:"btn btn-default"}
      %p This isn't working yet.
    %h3 Upload a logo for your organization.
    =form_for @org, {class: "form form-inline"} do |o|
      =o.file_field :logo
      =o.submit "upload", class:"btn btn-default"
    =link_to "Delete this Organization", organization_path, method:'delete', class:"btn btn-danger"
      
