%h1 Edit your organization
.row
  .col-md-6
    =render "form"
  .col-md-6
    %h3 Users that can manage this organization
    -@org.users.each do |u|
      =u.first_name + " " + u.last_name + ", " + u.email
      %br
    %h4 Add a new manager:
    =form_tag(add_org_usr_path, class:"form form-inline") do
      .form-group
        =email_field_tag :email, nil, {class:"form-control", placeholder:"email"}
      .form-group
        =submit_tag nil, class:"btn btn-default"
    %br
    %h3 Upload a logo for your organization.
    =form_for @org, {class: "form form-inline"} do |o|
      =o.file_field :logo
      =o.submit "upload", class:"btn btn-default"
    =link_to "Delete this Organization", organization_path, method:'delete', class:"btn btn-danger"