%h1 Organizations

=link_to "Create a new Organization", organizations_search_path, class:"btn btn-default"

.row
  -@orgs.each do |o|
    .col-md-6
      ="#{o.organization_name}, #{o.city}, #{o.state}"
      =image_tag o.logo.url(:medium), class:"img-responsive img-rounded"
      =link_to "view", organization_path(o.id)