/ .round-btn.upper-right
=link_to "<span>Find a Non-Profit</span>".html_safe, organizations_search_path, class: 'round-btn upper-right'
%h1 Organizations


.row
  -@orgs.each do |o|
    .col-md-6
      ="#{o.organization_name}, #{o.city}, #{o.state}"
      =image_tag o.logo.url(:medium), class:"img-responsive img-rounded"
      =link_to "view", organization_path(o.id)