
.row
  .col-md-8
    /Basic Profile info
    %h1=@org.organization_name
    %h4=@org.city+", "+@org.state
    -if @org.website_url
      =link_to @org.website_url, @org.website_url

    
  .col-md-4
    /Organization logo / photo 

.row
  .col-md-12
    %h4 Description
    %p=@org.description
    %br
    -if @org_manager
      =link_to "edit", edit_organization_path(@org), class:"btn btn-default"
      =link_to "delete", organization_path, method:'delete', class:"btn btn-default"
      /=link_to "index", organizations_path, class:"btn btn-default"
.row.irsInfo
  .col-md-12
    %h3 more info about this organization
    /%h5 <i>Pulled from IRS records </i>
  .col-md-6
    ="This organization is a 501(c)(#{@org_info.subsection_code})."
    %b=@codes.deductability[@org_info.deductability_code]
    %br
    %b EIN:
    =@org_info.ein
    %br
    %b Income:
    $ 
    =@codes.income[@org_info.income_code.to_i]
    %i{class:"glyphicon glyphicon-info-sign", title:"Income Codes relate to the amount of income shown on the most recent Form 990 series return filed by the organization."}
  .col-md-6
    %b Foundation Code:
    ="#{@org_info.foundation_code} -- "
    =@codes.foundation["#{@org_info.foundation_code}"]
    %br
    -unless @org_info.secondary_name.empty?
      %b This organization may also be known as:
      =@org_info.secondary_name
    -if @ntee
      %b NTEE Classification 
      %i{class:"glyphicon glyphicon-info-sign", title:"The National Taxonomy of Exempt Entities (NTEE) Code is a four digit code used to classify an exempt organization in terms of its primary exempt activity. The first digit (Common Code) is a modifier used to describe activities in support of nonprofit organizations.  The fourth digit further defines the classification of the organization and is not defined here."}
      .nteeDiv
        Code:
        =@ntee.core_code
        %br
        Common Code: 
        =@ntee.common_code + " -- " + @codes.ntee_common[@ntee.common_code]
        %br
        Description: 
        =@ntee.description
    